<h2><%= @student.name %></h2>

<dl class="dl-horizontal">
  <dt><%= t('.email') %></dt>
  <dd><%= @student.email %></dd>
</dl>

<h3><%= t('.progress') %></h3>

<p><%= render partial: 'lesson_part', object: @student.lesson_parts&.last %></p>

<div><%#= link_to t('.set_progress'), new_student_path, class: 'btn btn-primary btn-lg' %></div>
