<h2><%= @student.name %></h2>

<dl class="dl-horizontal">
  <dt><%= t('.email') %></dt>
  <dd><%= @student.email %></dd>
</dl>

<h3><%= t('students.progress') %></h3>

<p><%= render partial: 'application/lesson_part', object: @student.lesson_parts&.last %></p>

<div>
  <%= link_to t('.set_progress'),
              new_student_completed_lesson_part_path(student_id: @student),
              class: 'btn btn-default btn-lg' %>
</div>
